llama-cpp-python
huggingface_hub
requests
torch
transformers
sentence-transformers
accelerate
opencv-python
pytesseract

openai-whisper
pydub


faiss-gpu-cu12

python-docx
PyPDF2
pillow

numpy
tqdm
pyyaml
pydantic
fastapi
pyinstaller
passlib
argon2_cffi
pyjwt
python-jose[cryptography]
uvicorn
